*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card {
    border: none!important;
}
.text-muted{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
}
.card-subtitle, .card-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif!important;
}
.card-title:hover{
    color: tomato!important;
    cursor: pointer !important;
}